/* Store.css */

.product-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 60px;
    margin: 20px;
  
    background-color: #f8f8f8;
  }
    @media all and (max-width: 480px) {
    .product-container2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px 10px;
      margin: 20px;
  
      background-color: #f8f8f8;
    }
  
  }
  