/* ProductCard.css */
.product-card {
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Add this line */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  aspect-ratio: 3/2;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  text-align: center;
}

.product-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.star {
  color: #f0c14b;
  margin: 0 2px;
}

.product-price {
  font-size: 16px;
  color: #666;
  margin-bottom: 8px;
text-align: center;
}

.add-to-cart {
  background-color: #002287;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  width: 45%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.add-to-cart:hover {
  background-color: #0a0c3c;
  transform: scale(1.05);
}

.view-button {
  background-color: #0c5d98;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-top: 10px;
  width: 45%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.view-button:hover {
  background-color: #1471bd;
  transform: scale(1.05);
}

@media all and (max-width: 480px) {
  .product-image {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
}


/* animation */

.animate-cart{
  animation: cartAddAnimation 0.5s ease-in-out;
}

@keyframes cardAddAnimation{
  0%, 100% {
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
}

/* /online
 */
 .CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #002287;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: .5s;
  font-size: 0.8em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .text {
  transform: translate(10px,0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}